body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: gray;
	background-attachment: fixed;

}

.question-box{
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #263238;
	/*background:linear-gradient(to right bottom, rgba(255,255,201,0.3),rgba(255,255,25,0.3));*/

	/*border-radius: 5px;*/
	margin: 2em;
	padding: 5px 10px;
	color:white;
	max-width: 900px;
	box-shadow: 0 15px 25px rgba(10,10,10,2);

}
blockquote{
	font-style: italic;
	color: lightgray;
	background: #210;
}
.question-box-problem{

}
h2{
	color:lightgreen;
	font-weight: bold;

}

.code-panel{
	width: 100%;
	margin: 2em 0px;
	max-width: 900px;
	/*background: red;*/
}