body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: gray;
	background-attachment: fixed;

}
p {
	font-size: 1.3rem;
}
.question-box{
	/*display: flex;*/
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background: #263238;
	/*background:linear-gradient(to right bottom, rgba(255,255,201,0.3),rgba(255,255,25,0.3));*/

	/*border-radius: 5px;*/
	margin: 2em;
	padding: 5px 10px;
	color:white;
	max-width: 900px;
	box-shadow: 0 15px 25px rgba(10,10,10,2);
	border-radius: 6px;
}
blockquote{
	/*font-style: italic;
	color: lightgray;
	background: #210;*/
	font-style: oblique;
    color: black;
    background: #f3e5f5;
    border-radius: 1rem;
    text-align: center;
}
.question-box-problem{

}
h2{
	color:lightgreen;
	font-weight: bold;
	font-size: 1.8rem;

}

.code-panel{
	width: 100%;
	margin: 2em 0px;
	max-width: 900px;
	/*background: red;*/
}

.q-title {
	/*color: aquamarine;*/
    text-align: center;
    /*padding: 0.4em;*/
    /*margin: 1em;*/
    /*border: 2px solid lightcoral;*/
    /*border-radius: 1em;*/
}
.question {
	border: 4px solid gray;
	border-bottom: 1px solid gray;
	padding: 1em 2em;
}

pre{
	background: gray;
	padding: 1em;
}